<footer class="container">
  <button type="button" class="btn btn-danger float-end"><a href="#" class="link-warning">Nach oben</a></button>

  <p>
    © 2022 Famirol
  </p>
  <p></p>
  <p><a a href="ausfluege">.</a></p>
</footer>
