---
meta:
  lang: de
  title: Ausflüge
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Ausflüge und News von und in ganz Tirol
layout: base
eleventyNavigation:
  key: Ausflüge
  order: 3
---

<h1>Ovvvvverviewww Ausflüge</h1>
<p>Das soll gar nicht gehen lt. Bernja</p>
