---
meta:
  lang: de
  title: Home
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Ausflüge und News von und in ganz Tirol
layout: base
eleventyNavigation:
  key: Home
---
<!DOCTYPE html>