---
meta:
  lang: de
  title: Herbstkonzert
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Herbstkonzert am 05.11.2022
layout: base
eleventyNavigation:
  key: Herbstkonzert
  order: 2
---
<h1>HERBSTKONZERT DER MK VÖLS!</h1>
<p></p>
<p>Am 05.11.2022 gibt es das Herbstkonzert der MK Völs in Völs in der Blaike.</p>
<p>Hier eine kleine Karte, wo du hinfahren musst.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2708.145875765805!2d11.322260115402862!3d47.252850720341165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479d6b1760c9a2ef%3A0xfd7ae3846c968b8d!2sBlaike%20Veranstaltungszentrum!5e0!3m2!1sde!2sat!4v1667493340562!5m2!1sde!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p></p>
<p>Ich, also der Inhaber von Famirol spielt selbst mit und ratet mal mit welchem Instrument: (E-Mail-Adresse ist nur für die Antwort da und wird nicht veröffentlicht.)</p>
<p>Die E-Mail Adresse ist dafür da, dass ich dir die richtige Antwort dann schicken kann.</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfRhXPl9WFH4TpsCmFo7OT5nghvCSLCVGRSo685Czo3YUHDug/viewform?embedded=true" width="640" height="780" frameborder="0" marginheight="0" marginwidth="0">Wird geladen…</iframe>
<p></p>
<p>Der Eintritt ist frei!</p>
<p>Freiweillige Spenden sind aber dennoch erbeten, denn das ganze kostet ja alles auch etwas.</p>
<p></p>
<p>Hier noch die Stücke:</p>
<p>   1. Teil:</p>
<p>1. Das große Tor von Kiew</p>
<p>2. The Witch and The Saint</p>
<p>3. Concertino for Marimba</p>
<p>4.Blas´ Musik in die Welt</p>
<p>Codetta Völs</p>
<p>Codetta Völs ist eine kleine Jungmusikantengruppe. Ich spiele dort zwar auch mit, weiß aber noch nicht was wir spielen. (Heute 03.11.2022 ist um 18:30 Generalprobe. Jetzt ist es 17:57 Uhr.)</p>
<p>   2. Teil:</p>
<p>1. The Lion King</p>
<p>2. Gold von den Sternen</p>
<p>3. Mame Medly</p>
<p>4. A Fistful of Dollars</p>
<p>5. Santana</p>
<p></p>
<p>Noch ein paar Infos:</p>
<iframe width="1170" height="658" src="https://www.youtube.com/embed/MsBVm5eZY9w" title="2022 Herbstkonzert" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
<iframe width="1170" height="658" src="https://www.youtube.com/embed/LXo57GpqKgQ" title="Herbstkonzert 2022" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>