---
meta:
  lang: de
  title: Home
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Ausflüge und News von und in ganz Tirol
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      Ausflüge und News von und in ganz Tirol
<br /><br />
    </p>
    <a 
    class="btn btn-primary mb-3" 
      href="https://discord.gg/qTuFXJ3TGH"
      target="_blank">
      Famirol Discord-Server
    </a>
    <a
      class="btn btn-primary mb-3"
      href="https://discord.gg/peuhdejRgX"
      target="_blank"
    >
      Normaler Discord-Server

    </a>
    <p></p>
    <p class="lead">
      Wir bemühen uns, mindestens jede Woche einen neuen Inhalt hochzuladen.
    </p>
    <p class="lead">
      Das heißt aber nicht, dass wir versprechen, jede Woche etwas hochzuladen. Es kann aber auch sein, dass wir mehrere Posts auf einmal hochladen.
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Newsroom</h2>
      <p>
        Hier kommen immer News über Tirol. Ob Konzert oder Eröffnung, vieles kommt hier hin.
      </p>
      <button type="button" class="btn btn-primary position-relative">
        <a href="/newsroom" class="link-warning">Newsroom</a>
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">Neue Nachrichten</span>
        </span>
      </button>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #ff7979">
      <h2>Ausflug der Woche</h2>
      <p>
       Herbstkonzert am 05.11.2022!
      </p>
      <p> Endlich wieder ein Herbstkonzert der MK Völs. Für mehr INfos klicke auf den</p>
      <a href="https://famirol.github.io/herbstkonzert/" class="btn btn-outline-dark">Herbstkonzert</a>
    </div>
  </div>
 
  <div class="row mt-3">
    <div class="col-12">
      <div class="img-fit-cover-container rounded-3 bg-light">
        {% image "./src/assets/images/tirol.jpg", "View from top of a mountain onto a sea and another mountain in
        austria." %}
      </div>
    </div>
  </div>
     
    
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
