---
meta:
  lang: de
  title: Home
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Ausflüge und News von und in ganz Tirol
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      Ausflüge und News von und in ganz Tirol
<br /><br />
    </p>
    <a 
    class="btn btn-primary" 
      href="https://discord.gg/qTuFXJ3TGH"
      target="_blank">
      Famirol Discord-Server
    </a>
    <a
      class="btn btn-primary"
      href="https://discord.gg/peuhdejRgX"
      target="_blank"
    >
      Normaler Discord-Server

    </a>
    <p></p>
    <p class="lead">
      Wir bemühen uns, mindestens jede Woche einen neuen Inhalt hochzuladen.
    </p>
    <p class="lead">
      Das heißt aber nicht, dass wir versprechen, jede Woche etwas hochzuladen. Es kann aber auch sein, dass wir mehrere Posts auf einmal hochladen.
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Newsroom</h2>
      <p>
        Hier kommen immer News über Tirol. Ob Konzert oder Eröffnung, vieles kommt hier hin.
      </p>
      <a href="newsroom.html" class="btn btn-outline-light">Newsroom</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #ff7979">
      <h2>Ausflüge</h2>
      <p>
        Hier werden wir immer wieder verschiedene Ausflüge hochladen.
      </p>
      <a href="{{ 'pages/another_site ' | url }}" class="btn btn-outline-dark">Another site</a>
    </div>
  </div>
 
      <!-- Modal -->
     
    
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center">
    See <a href="https://github.com/mandrasch/11ty-plain-bootstrap5/" target="_blank">11ty-plain-bootstrap5</a> on
    GitHub for all information.
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
