---
meta:
  title: Newsroom
layout: base
eleventyNavigation:
  key: Newsroom
  order: 2
---

<h1>Herzlich willkommen im Newsroom!</h1>
<p></p>
<h4>Hier werden oft News kommen, Ausflüge aber in</h4> <h4><a href="2022-08-24-SerfausHochseilgarten.md">anderen Tabs wie der Ausflug zu einem Hochseilgarten.</a> </h4>
